# This file is an example.
# Copy it to .env.local and fill in your actual environment variables.

# The base URL of your application
NEXT_PUBLIC_APP_URL=http://localhost:9002

# Google AI API Key for Genkit
GOOGLE_API_KEY=
